.content {
    display: flex;
    flex: 1 1 auto;
    gap: 1em;
    margin: 1em;
    height: calc(100vh - 2em);
    overflow: hidden;
}


@media only screen and (max-width: 768px) {
    .content {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin: 1em;
        padding-bottom: 0.5em;
    }
}