.results {
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 0.9rem;
}

@media only screen and (max-width: 768px) {
    .results {
        display: flex;
        max-height: 200px;
        flex-direction: column !important;
        margin: 0em;
        overflow: scroll;
    }
}